:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 100%;
    overflow-y: hidden;
    background: var(--greyLight-1);
  }
  @media screen and (min-width: 900px) {
    html {
      font-size: 85%;
    }
  }

.components {
    width: 75%;
    height: 75%;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-3), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    justify-content: center;
 margin: 0 auto;
 margin-top: 30px;
    align-items: center;
    
  }
  .form {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .form__input {
    width: 10rem;
    height: 24px;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
  }
  .form__input::-moz-placeholder {
    color: var(--greyLight-3);
  }
  .form__input:-ms-input-placeholder {
    color: var(--greyLight-3);
  }
  .form__input::placeholder {
    color: var(--greyLight-3);
  }
  .form__input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  }

  .container {
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
  }

  .chip {
   
    height: auto;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--primary-light), -0.2rem -0.2rem 0.5rem var(--white);
   text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: var(--primary);
  }

.last {
  text-align: center;
}
.components h2, .components h3 {
  align-items: center;
  display: inline;
}

*,*:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor_carga {
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga {
  border: 15px solid #ccc;
  border-top-style: double;
  background-image: linear-gradient(to right, #ff8100, #0c1e35);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

  @-webkit-keyframes waves {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes waves {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

 